* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%; /* Percentage of default setting of 16px */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/****************************/
/* GENERAL REUSEABLE COMPONENTS */
/****************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.custom-heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #f4ce2e;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border: none;
  cursor: pointer;
  /* Put transition on original state */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #f4ce2e;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #dcb929;
  color: #555;

  box-shadow: inset 0 0 0 3px #dcb929;

  /* border: 3px solid #fff; */
}

.btn--form {
  background-color: #312909;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  border-radius: 9px;
}

.btn--form:hover {
  color: #555;
  background-color: #fff;
}

.btn__animated,
.btn__animated:link,
.btn__animted:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 70px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  padding: 1.2rem 2.8rem;
}

.btn__animated::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  transition: all 0.4s;
}

.btn__animated:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.3);
}

.btn__animated:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn__animated:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #555;
}

.btn--white::after {
  background-color: #fff;
  color: #555;
}

/****************************/
/* REUSEABLE GRIDS */
/****************************/

.grid {
  height: 100%;
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid-columns {
  display: grid;
  margin-left: 24rem;
  margin-right: 24rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.grid-rwd {
  grid-template-columns: repeat(4, 1fr);
}

/****************************/
/* HELPER STYLES */
/****************************/

.center-text {
  text-align: center;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.margin-top-medium {
  margin-top: 8rem;
}
