/*

--- 01 Typography System

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:

Default: 400
Mediuem: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1;
small text 1.05
paragraph 1.6

- letter spacing:


--- 02 Colors

Primary: #f4ce2e

- Tints: 
- Shades: 
- Accents:
- Greys: 


--- 05 Shadows

--- 06 Border Radius

Default: 9px

--- 07 White Space

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/****************************/
/* HEADER */
/****************************/

.logo {
  height: 4.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8eaec;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/****************************/
/* NAV */
/****************************/

.language-button {
  border: none;
  font-size: 1.2rem;
  background: none;
  cursor: pointer;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* display: inline-block; */
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #333;
  background-color: #f4ce2e;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #dcb929;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #f4ce2e;
}

/* MOBILE NAV */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.849);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/****************************/
/* HERO */
/****************************/

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.section-hero {
  background-color: #e8eaec;
  padding: 4.8rem 0 9.6rem 0;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  animation: moveInLeft 1.5s ease-in-out;
}

.hero-desc {
  font-size: 2.4rem;
  line-height: 1.6;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
  animation: moveInRight 1.5s ease-in-out;
}

.hero-img {
  width: 100%;
  animation: moveInRight 1.5s ease-in-out;
}

.hero-btn {
  border-radius: 9px;
  animation: moveInLeft 1.5s ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/****************************/
/* FEATURES */
/****************************/

.section-features {
  padding: 9.6rem 0;
}

.step-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-icons {
  height: 9.6rem;
  width: 9.6rem;
  color: #f4ce2e;
}

.features-img {
  width: 100%;
  border-radius: 3px;
}

.step-txt-box {
  display: flex;
  flex-direction: column;
}

.step-number {
  font-size: 7.2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.4rem;
  padding: 0.8rem;
  background-image: linear-gradient(to right, #f4cc2eb0, #fff);
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% 0.8rem, 0 100%);
}

.step-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}

/****************************/
/* PRODUCTS */
/****************************/

.section-products {
  padding: 9.6rem 0;
  background-color: #e8eaec;
}

.teabag-img {
  width: 75%;
}

.product-content {
  padding-left: 2.8rem;
  padding-right: 1.8rem;
}

.product-name--oolong {
  padding: 1rem;
  border-bottom: 3px solid #dcb929;
}

.product-name--black {
  padding: 1rem;
  border-bottom: 3px solid #ea6161;
}

.product-name--jadegreen {
  padding: 1rem;
  border-bottom: 3px solid #9cc447;
}

.product-name--fourseason {
  padding: 1rem;
  border-bottom: 3px solid #44ad64;
}

.product-txt-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3rem 6rem rgba(51, 51, 51, 0.1);
  background-color: rgba(238, 238, 238, 0.6);
  border-radius: 3px;
  place-self: center;
  padding: 1.5rem 4rem;
  margin-right: 4rem;
  margin-left: 4rem;

  transform: skewX(-12deg);
}

.product-txt-box > * {
  transform: skewX(12deg);
}

.product-img {
  display: flex;
  justify-content: end;
}

/****************************/
/* PRODUCTS-DESCRIPTION */
/****************************/

.section-product-desc {
  padding: 9.6rem 0;
}

.tea-product {
  position: relative;
  perspective: 150rem;
  height: 44rem;
}

.tea-product--side {
  padding: 1rem;
  height: 42rem;
  transition: all 0.8s ease;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.tea-product--front {
  width: 100%;
  height: 100%;
}

.tea-product--back {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

.tea-product--back-1 {
  background-color: #dcb929;
}
.tea-product--back-2 {
  background-color: #ea6161;
}
.tea-product--back-3 {
  background-color: #9cc447;
}
.tea-product--back-4 {
  background-color: #44ad64;
}

.tea-product:hover .tea-product--front {
  transform: rotateY(-180deg);
}

.tea-product:hover .tea-product--back {
  transform: rotateY(0deg);
}

.tea-content {
  padding-top: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tea-content .tea-name {
  font-size: 4.8rem;
  font-weight: 600;
  padding-bottom: 2.8rem;
  text-transform: uppercase;
}

.namebg {
  border-radius: 200px;
  color: #333;
  display: inline-block;
  padding: 0.6rem 2.4rem;
}

.name--oolong {
  background-color: #f4ce2e;
}

.name--black {
  background-color: #ea6161;
}

.name--green {
  background-color: #9cc447;
}

.name--fourseason {
  background-color: #44ad64;
}

.tea-attributes {
  font-size: 1.6rem;
  list-style: none;
}

.tea-attribute:not(:last-child) {
  margin-bottom: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-img {
  width: 22rem;
}

.tea-img--oolong {
  padding: 1rem;
  border-bottom: 3px solid #dcb929;
}

.tea-img--black {
  padding: 1rem;
  border-bottom: 3px solid #ea6161;
}

.tea-img--jadegreen {
  padding: 1rem;
  border-bottom: 3px solid #9cc447;
}

.tea-img--fourseason {
  padding: 1rem;
  border-bottom: 3px solid #44ad64;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__price-box {
  text-align: center;
  color: #eee;
}

.card__price-amount {
  padding: 1.8rem;
}

.card__price-only {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.card__price-currency {
  font-size: 1.6rem;
}

.card__price-value {
  font-size: 4.8rem;
  font-weight: 300;
  margin-left: 1rem;
}

.product_reminder {
  display: flex;
  justify-content: center;
}

.product_reminder_text {
  font-size: 1.4rem;
}

/****************************/
/* HOW TO DRINK */
/****************************/

.section-howtodrink {
  padding-bottom: 9.6rem;
}

.howto-desc {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.howtoheader-icons {
  width: 4.8rem;
  height: 4.8rem;
  color: #ff5e00b6;
}

.howtoheader-cold-icons {
  width: 4.8rem;
  height: 4.8rem;
  color: rgba(0, 174, 255, 0.692);
}

.howto-icons {
  width: 3.2rem;
  height: 3.2rem;
  align-self: center;
  color: #dcb929;
}

/****************************/
/* SIGN UP */
/****************************/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta-heading {
  margin-bottom: 6.8rem !important;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #f4ce2e;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #f4ce2e, #dcb929);
  overflow: hidden;
}

.cta-textbox {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #312909;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  color: #312909;
  margin-bottom: 3.2rem;
}

.cta-imgbox {
  background-image: linear-gradient(
      to right bottom,
      rgba(244, 204, 46, 0.35),
      rgba(220, 184, 41, 0.35)
    ),
    url('/img/signup.jpg');
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  font-family: inherit;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
  transition: all 0.3s;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(253, 242, 233, 0.5);
}

/****************************/
/* PHOTO GALLERY */
/****************************/

.section-gallery {
  padding: 9.6rem 0;
  background-color: #ced4da;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-heading {
  text-transform: uppercase;
  font-size: 3.2rem;
  align-self: center;
  justify-self: center;
  font-weight: 500;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

/****************************/
/* FOOTER */
/****************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-column {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #dcb929;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.address {
  margin-bottom: 2.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* animations */

.slide-in {
  opacity: 0; /* Start with 0 opacity */
  transform: translateY(100px); /* Start position below the viewport */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transitions for smooth animation */
}

.slide-in.show {
  opacity: 1; /* When the div enters the viewport, set opacity to 1 */
  transform: translateY(
    0
  ); /* When the div enters the viewport, set transform to 0 */
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  z-index: 200;
}

.modal-content_heading {
  font-size: 2rem;
  color: #dcb929;
  border-bottom: solid black;
  padding-bottom: 1rem;
}

.modal-content_main {
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
  letter-spacing: 2px;
  line-height: 19px;
}

.aboutus-img {
  border-bottom: solid;
  padding-bottom: 2rem;
}

.modal-content_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/** SUCCESS PAGE **/
.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: #fff;
}

.success-content {
  text-align: center;
}

.success-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.success-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.redirect-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.redirect-button:hover {
  background-color: #555;
  color: #fff;
}
